.catalogo-container{
    display: flex;
    justify-content: center;
}
.catalogo-container h2{
    display:flex;
    justify-content: center;
}
.categoria-selector{
    position: absolute !important;
    margin: 0px 20px !important;
}