.Contact-container{
    display: block;
    background-color: rgba(250, 250, 250, 0.160);
    height: 59vh;
}
.Contact-number{
    margin: 2px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
.Contact-title{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.Contact-form{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 5px 0px;
}
.Contact-map{
    display: flex;
    justify-content: center;

}
@media screen and (max-width: 580px) {
    iframe{
        height: 250px!important;
    }
}
