.button-modal{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: white;
}

.carrito-detail-container{
    display: flex;
    justify-content: center;
    
}

.carrito-detail{

}


.button-delete{
    border:rgba(0, 0, 0, 0.5) solid 1px;
}

.button-delete:hover{
    background-color: red;
    transition-delay: 0.3;
    transition-duration: 0.7s;
    color:whitesmoke;
}