
.Header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
    background-color: #353434;
    
    /* background-color: pink; 
    border-bottom: #e0abd4 solid; */
    
    
}