.Footer-container{
    background-color: #353434;
    display:block;
    padding: 1rem;
    /* border-top: 2px solid plum; */
}

.Button-container{
    padding-top: 1rem;
    display:flex;
    justify-content: center;
    background-color: #353434;
}